.container-login {
  position: relative;
  width: 100%;
  /* background-color: #fff; */
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  max-width: 450px;
  width:100%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 4;
}

.signin-signup .btn-signup{
  width: 150px;
  background-color:var(--bittersweet);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.signin-signup form {
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 450px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--cultured);
  border-radius: 30px;
  color: var(--onyx);
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  /* color: #444; */
  margin-bottom: 10px;
}

.input-field-password{
  max-width: 380px;
  width: 100%;
  align-items: center;
  color: var(--eerie-black);
  background-color: var(--white);
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 12% 76% 12%;
  padding: 0 1.2rem;
  position: relative;
  justify-items: stretch;
  justify-content: space-between;
}

.input-field-username, .input-field-email, .input-field-bday{
  max-width: 380px;
  width: 100%;
  align-items: center;
  color: var(--eerie-black);
  background-color: var(--white);
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 12% 88%;
  padding: 0 1.2rem;
  position: relative;
  justify-items: stretch;
  justify-content: space-between;
}

ion-button{
  width: auto;
  height: 35px !important;
}

.login-icons, ion-button {
justify-self: center;
align-self: center;
font-size: 1.7rem;
}

.input-field-names{
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}

.input-field-fname, .input-field-lname{
  max-width: 190px;
  width: 100%;
  align-items: center;
  color: var(--eerie-black);
  background-color: var(--white);
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 100%;
  padding: 0 1.2rem;
  position: relative;
  justify-items: stretch;
  justify-content: space-between;
}


.signin-signup input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  color: var(--onyx-darker);
}

.signin-signup input::placeholder {
  color: var(--davys-gray);
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  margin: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  opacity: 0.75;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: var(--onyx);
  border-radius: 50%;
  border: 1px solid var(--onyx);
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
}

.social-icon:hover {
  color: var(--eerie-black);
  border-color: var(--eerie-black);
}

.btn {
  width: 150px;
  background-color: var(--scarlet-red);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--scarlet-red);
}
.panels-container {
  position: absolute;
  height: 100%;
  padding: 50px;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-login:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg,rgba(90, 90, 90,0.8), rgba(180, 180, 180,0.6));
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 4;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  z-index: 4;
}

.left-panel {
  pointer-events: all;
}

.right-panel {
  pointer-events: none;
  /* padding: 3rem 12% 2rem 17%; */
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
  padding: 3rem 17% 2rem 12%;
  z-index: 4;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  z-index: 4;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(950px);
  z-index: 4;
}

/* ANIMATION */

.container-login.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 50%;
}

.container-login.sign-up-mode .left-panel .image,
.container-login.sign-up-mode .left-panel .content {
  transform: translateX(-1000px);
}

.container-login.sign-up-mode .signin-signup {
  left: 25%;
}

.container-login.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container-login.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 2;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container-login.sign-up-mode .right-panel .image,
.container-login.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container-login.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-login.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container-login {
    min-height: 950px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container-login.sign-up-mode .signin-signup {
    left: 50%;
  }

  .signin-signup form{
    padding: 1rem;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container-login:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container-login.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container-login.sign-up-mode .left-panel .image,
  .container-login.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container-login.sign-up-mode .right-panel .image,
  .container-login.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container-login.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0;
  }
  .container-login {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container-login.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
