@import "overlay-and-modal-style.css";
@import "header-and-side-menu-style.css";
@import "slideshow-style.css";
@import "card-style.css";
@import "footer-style.css";

:root {
  /*-----------------------------------------*/
  /*------------------COLORS------------------*/
  /*------------------------------------------*/

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --scarlet-red: hsl(8, 100%, 50%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --onyx-darker: hsl(0, 0%, 25%);
  --dirty-white: hsla(196, 6%, 53%, 0.6);
  --dirty-onyx: hsla(0, 0%, 27%, 0.6);

  /*---------------------------------------------*/
  /*------------------TYPOGRAPHY------------------*/
  /*----------------------------------------------*/

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*-------------------------------------------------*/
  /*------------------BORDER RADIUS------------------*/
  /*-------------------------------------------------*/
  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /*----------------------------------------------*/
  /*------------------TRANSITION------------------*/
  /*----------------------------------------------*/

  --transition-timing: 0.2s ease;




  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;
  /* 16px */
  --fontSmall: 0.625em;
  /* 10px */
  --fontMedium: 0.875em;
  /* 14px */
  --fontNormal: 1em;
  /* 16px */
  --fontLarge: 1.375em;
  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;



}




/*-----------------------------------------*/
/*------------------RESET------------------*/
/*-----------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

main {
  width: 100%;
  height: 100%;
  display: inline-block;
}


li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: inline-block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
  transition: 0.5s ease-in-out;
}


@media only screen and (max-width: 600px) {
  html {
    min-width: 280px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    min-width: 280px;
  }
}

input {
  display: block;
  width: 100%;
  font: inherit;
}


font::placeholder {
  font: inherit;
}

body {
  padding-top: 55px;
  overflow: visible !important;
}

.light-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  background-repeat: repeat;
}

.dark-background{
  display: none;
}

/*----------------------------------------------------*/
/*------------------DARK MODE BUTTON------------------*/
/*----------------------------------------------------*/

.dark-mode-btn {
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.dark-mode-swtch {
  -webkit-appearance: none;
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  background-image: url(../../images/main-content/day-mode.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

.dark-mode-swtch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: url(../../images/main-content/buttoncheckbox.png);
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

.dark-mode-swtch:checked:before {
  transform: translate(100%);
}

.dark-mode-swtch:checked {
  background-image: url(../../images/main-content/dark-mode.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------------------------------------*/
/*------------------SCROLLBAR STYLE------------------*/
/*---------------------------------------------------*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--cultured);
  border: 2px solid var(--spanish-gray);
}


/*-------------------------------------------------*/
/*------------------REUSED STYLES------------------*/
/*-------------------------------------------------*/

.container {
  padding: 0 15px;
}

.has-scrollbar {
  /* padding: 5px; */
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}