:root {
  /*-----------------------------------------*/
  /*------------------COLORS------------------*/
  /*------------------------------------------*/

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --scarlet-red: hsl(8, 100%, 50%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --onyx-darker: hsl(0, 0%, 25%);
  --dirty-white: hsla(196, 6%, 53%, 0.6);
  --dirty-onyx: hsla(0, 0%, 27%, 0.6);
  --light-gray: hsl(0, 0%, 76%);

  /*---------------------------------------------*/
  /*------------------TYPOGRAPHY------------------*/
  /*----------------------------------------------*/

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*-------------------------------------------------*/
  /*------------------BORDER RADIUS------------------*/
  /*-------------------------------------------------*/
  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /*----------------------------------------------*/
  /*------------------TRANSITION------------------*/
  /*----------------------------------------------*/

  --transition-timing: 0.2s ease;




  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;
  /* 16px */
  --fontSmall: 0.625em;
  /* 10px */
  --fontMedium: 0.875em;
  /* 14px */
  --fontNormal: 1em;
  /* 16px */
  --fontLarge: 1.375em;
  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;



}

/* TABS */

.row-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

p {
  margin-bottom: 40px;
  text-align: center;
}

a {
  text-decoration: underline;
  color: #1889e6;
}

a:hover {
  text-decoration: none;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px 40px;
  height: auto;
  min-height: 600px;
}

/**/
/* main styles */
/**/
.pcss3t {
  margin-top: 50px;
  /* margin: 0; */
  padding: 0;
  border: 0;
  outline: none;
  font-size: 0;
  text-align: center;
  align-items: center;
}

.pcss3t>input {
  position: absolute;
  left: -9999px;
}

.pcss3t>label {
  font-style: inherit;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: var(--weight-900);
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.pcss3t>input:checked+label {
  cursor: default;
}

.pcss3t>ul {
  list-style: none;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 13px;
}

.pcss3t>ul>li {
  position: absolute;
  width: 100%;
  overflow: scroll;
  padding: 30px 40px 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.pcss3t>.tab-content-first:checked~ul .tab-content-first,
.pcss3t>.tab-content-2:checked~ul .tab-content-2,
.pcss3t>.tab-content-3:checked~ul .tab-content-3,
.pcss3t>.tab-content-4:checked~ul .tab-content-4,
.pcss3t>.tab-content-5:checked~ul .tab-content-5,
.pcss3t>.tab-content-6:checked~ul .tab-content-6,
.pcss3t>.tab-content-7:checked~ul .tab-content-7,
.pcss3t>.tab-content-8:checked~ul .tab-content-8,
.pcss3t>.tab-content-9:checked~ul .tab-content-9,
.pcss3t>.tab-content-last:checked~ul .tab-content-last {
  z-index: 1;
  opacity: 1;
  overflow: hidden;
  height: 100%;

  -webkit-transform: scale(1, 1);
  -webkit-transform: rotate(0deg);
  /* margin: 0; */
}

/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/
.pcss3t-height-auto>ul {
  height: auto !important;
}

.pcss3t-height-auto>ul>li {
  position: static;
  display: none;
  height: auto !important;
}

.pcss3t-height-auto>.tab-content-first:checked~ul .tab-content-first,
.pcss3t-height-auto>.tab-content-2:checked~ul .tab-content-2,
.pcss3t-height-auto>.tab-content-3:checked~ul .tab-content-3,
.pcss3t-height-auto>.tab-content-4:checked~ul .tab-content-4,
.pcss3t-height-auto>.tab-content-5:checked~ul .tab-content-5,
.pcss3t-height-auto>.tab-content-last:checked~ul .tab-content-last {
  display: block;
}

/**/
/* grid */
/**/
.pcss3t .grid-row {
  margin-top: 20px;
}

.pcss3t .grid-row:after {
  content: "";
  display: table;
  clear: both;
}

.pcss3t .grid-row:first-child {
  margin-top: 0;
}

.pcss3t .grid-col {
  display: block;
  float: left;
  margin-left: 2%;
}

.pcss3t .grid-col:first-child {
  margin-left: 0;
}

.pcss3t .grid-col .inner {
  padding: 10px 0;
  border-radius: 90px !important;
  background: #f2f2f2;
  text-align: center;
}

.pcss3t .grid-col-1 {
  width: 15%;
}

.pcss3t .grid-col-2 {
  width: 32%;
}

.pcss3t .grid-col-3 {
  width: 49%;
}

.pcss3t .grid-col-4 {
  width: 66%;
}

.pcss3t .grid-col-5 {
  width: 83%;
}

.pcss3t .grid-col-offset-1 {
  margin-left: 19%;
}

.pcss3t .grid-col-offset-1:first-child {
  margin-left: 17%;
}

.pcss3t .grid-col-offset-2 {
  margin-left: 36%;
}

.pcss3t .grid-col-offset-2:first-child {
  margin-left: 34%;
}

.pcss3t .grid-col-offset-3 {
  margin-left: 53%;
}

.pcss3t .grid-col-offset-3:first-child {
  margin-left: 51%;
}

.pcss3t .grid-col-offset-4 {
  margin-left: 70%;
}

.pcss3t .grid-col-offset-4:first-child {
  margin-left: 68%;
}

.pcss3t .grid-col-offset-5:first-child {
  margin-left: 85%;
}

/**/
/* typography */
/**/
.pcss3t .typography {
  color: #666;
}

.pcss3t .typography h1,
.pcss3t .typography h2,
.pcss3t .typography h3,
.pcss3t .typography h4,
.pcss3t .typography h5,
.pcss3t .typography h6 {
  margin: 40px 0 0 0;
  padding: 0;
  text-align: left;
  color: #333;
}

.pcss3t .typography h1 {
  font-size: 40px;
  line-height: 60px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.pcss3t .typography h2 {
  font-size: 32px;
  line-height: 48px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.pcss3t .typography h3 {
  font-size: 26px;
  line-height: 38px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.pcss3t .typography h4 {
  font-size: 20px;
  line-height: 30px;
}

.pcss3t .typography h5 {
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
}

.pcss3t .typography h6 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.pcss3t .typography p {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 20px;
  text-align: left;
}

.pcss3t .typography ul,
.pcss3t .typography ol {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

.pcss3t .typography li {
  position: relative;
  margin-top: 5px;
  padding-left: 20px;
}

.pcss3t .typography li ul,
.pcss3t .typography li ol {
  margin-top: 5px;
}

.pcss3t .typography ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 6px;
  height: 4px;
  background: #404040;
}

.pcss3t .typography ol {
  counter-reset: list1;
}

.pcss3t .typography ol>li:before {
  counter-increment: list1;
  content: counter(list1) ".";
  position: absolute;
  top: 0;
  left: 0;
}

.pcss3t .typography a {
  text-decoration: underline;
  color: #1889e6;
}

.pcss3t .typography a:hover {
  text-decoration: none;
}

.pcss3t .typography .pic {
  padding: 4px;
  border: 1px dotted #ccc;
}

.pcss3t .typography .pic img {
  display: block;
}

.pcss3t .typography .pic-right {
  float: right;
  margin: 0 0 10px 20px;
}

.pcss3t .typography .link {
  text-decoration: underline;
  color: #1889e6;
  cursor: pointer;
}

.pcss3t .typography .link:hover {
  text-decoration: none;
}

.pcss3t .typography h1:first-child,
.pcss3t .typography h2:first-child,
.pcss3t .typography h3:first-child,
.pcss3t .typography h4:first-child,
.pcss3t .typography h5:first-child,
.pcss3t .typography h6:first-child,
.pcss3t .typography p:first-child {
  margin-top: 0;
}

.pcss3t .typography .text-center {
  text-align: center;
}

.pcss3t .typography .text-right {
  text-align: right;
}

/**/
/* steps */
/**/
.pcss3t-steps>label {
  cursor: default;
}

/**/
/* animation effects */
/**/
.pcss3t-effect-scale>ul>li {
  -webkit-transform: scale(0.1, 0.1);
}

.pcss3t-effect-rotate>ul>li {
  -webkit-transform: rotate(180deg);
}

.pcss3t-effect-slide-top>ul>li {
  top: -40px;
}

.pcss3t-effect-slide-right>ul>li {
  left: 80px;
}

.pcss3t-effect-slide-bottom>ul>li {
  top: 40px;
}

.pcss3t-effect-slide-left>ul>li {
  left: -80px;
}

/*----------------------------------------------------------------------------*/
/*                                   LAYOUTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* top right */
/**/
.pcss3t-layout-top-right {
  text-align: right;
}

/**/
/* top center */
/**/
.pcss3t-layout-top-center {
  text-align: center;
}

/**/
/* top combi */
/**/
.pcss3t>.right {
  float: right;
}

/*----------------------------------------------------------------------------*/
/*                                    ICONS                                   */
/*----------------------------------------------------------------------------*/

/**/
/* icons positions */
/**/
.pcss3t-icons-top>label {
  text-align: center;
}

.pcss3t-icons-top>label i {
  float: none;
  margin: 0 auto -10px;
  padding-top: 17px;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
}

.pcss3t-icons-right>label i {
  float: right;
  margin: 0 -2px 0 8px;
}

.pcss3t-icons-bottom>label {
  text-align: center;
}

.pcss3t-icons-bottom>label i {
  float: none;
  margin: -10px auto 0;
  padding-bottom: 17px;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
}

.pcss3t-icons-only>label i {
  float: none;
  margin: 0 auto;
  font-size: 23px;
}

/**/
/* font awesome */
/**/
/* @font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=3.0.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {}

/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
  .pcss3t>label {
    display: block;
  }

  .pcss3t>.right {
    float: none;
  }
}

/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t>label {
  padding: 0 20px;
  background: var(--davys-gray);
  font-weight: 600;
  font-size: 13px;
  line-height: 49px;
}

.pcss3t>label:hover {
  background: var(--davys-gray);
}

.pcss3t>input:checked+label {
  background: var(--davys-gray);
  font-weight: 900;
}

.pcss3t>ul {
  background: var(--davys-gray);
  text-align: left;
}

.pcss3t-steps>label:hover {
  background: var(--davys-gray);
}

/**/
/* theme 1 */
/**/
.pcss3t-theme-1>label {
  margin: 0 5px 5px 0;
  border-radius: 15px;
  background: var(--onyx);
  align-items: center;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  color: var(--cultured);
  opacity: 0.9;
}

.pcss3t>label>ion-icon {
  background-color: transparent;
  font-size: 20px;
  color: var(--cultured);
  opacity: 0.9;
}

.pcss3t-theme-1>label:hover {
  background: var(--onyx-darker);
  opacity: 1;
}


.pcss3t-theme-1>input:checked+label {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--cultured);
  opacity: 1;
}

.pcss3t-theme-1>ul {
  border-radius: 5px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.pcss3t-theme-1>.tab-content-first:checked~ul {
  border-top-left-radius: 0;
}

@media screen and (max-width: 767px) {
  .pcss3t-theme-1>label {
    margin-right: 0;
  }

  .pcss3t-theme-1>input:checked+label {
    color: var(--white);
    margin-bottom: 5px;
    padding-bottom: 0;
    border-radius: 15px;
  }

  .pcss3t-theme-1>.tab-content-first:checked~ul {
    border-top-left-radius: 5px;
  }
}

/**/
/* theme 2 */
/**/
.pcss3t-theme-2 {
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.pcss3t-theme-2>label {
  margin-right: 0;
  margin-bottom: 0;
  background: none;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}

.pcss3t-theme-2>label:hover {
  background: rgba(255, 255, 255, 0.2);
}

.pcss3t-theme-2>input:checked+label {
  padding-bottom: 0;
  background: #fff;
  background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  color: #822bd9;
}

.pcss3t-theme-2>ul {
  margin: 0 -5px -5px;
  border-radius: 0;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .pcss3t-theme-2>ul {
    margin-top: 5px;
  }
}

/**/
/* theme 3 */
/**/
.pcss3t-theme-3 {
  background: rgba(0, 0, 0, 0.8);
}

.pcss3t-theme-3>label {
  background: none;
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  text-align: center;
  color: #fff;
  opacity: 0.6;
}

.pcss3t-theme-3>label:hover {
  background: none;
  color: #d9d92b;
  opacity: 0.8;
}

.pcss3t-theme-3>input:checked+label {
  background: #d9d92b;
  color: #000;
  opacity: 1;
}

.pcss3t-theme-3>ul {
  border-top: 4px solid #d9d92b;
  border-bottom: 4px solid #d9d92b;
  border-radius: 0;
  box-shadow: none;
}

/**/
/* theme 4 */
/**/
.pcss3t-theme-4>label {
  margin: 0 10px 10px 0;
  border-radius: 5px;
  background: #78c5fd;
  background: linear-gradient(to bottom, #78c5fd 0%, #2c8fdd 100%);
  background: -o-linear-gradient(top, #78c5fd 0%, #2c8fdd 100%);
  background: -ms-linear-gradient(top, #78c5fd 0%, #2c8fdd 100%);
  background: -moz-linear-gradient(top, #78c5fd 0%, #2c8fdd 100%);
  background: -webkit-linear-gradient(top, #78c5fd 0%, #2c8fdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78c5fd', endColorstr='#2c8fdd', GradientType=0);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.5);
  line-height: 39px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.pcss3t-theme-4>label:hover {
  background: #90cffc;
  background: linear-gradient(to bottom, #90cffc 0%, #439bde 100%);
  background: -o-linear-gradient(top, #90cffc 0%, #439bde 100%);
  background: -ms-linear-gradient(top, #90cffc 0%, #439bde 100%);
  background: -moz-linear-gradient(top, #90cffc 0%, #439bde 100%);
  background: -webkit-linear-gradient(top, #90cffc 0%, #439bde 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90cffc', endColorstr='#439bde', GradientType=0);
}

.pcss3t-theme-4>input:checked+label {
  top: 1px;
  background: #5f9dc9;
  background: linear-gradient(to bottom, #5f9dc9 0%, #2270ab 100%);
  background: -o-linear-gradient(top, #5f9dc9 0%, #2270ab 100%);
  background: -ms-linear-gradient(top, #5f9dc9 0%, #2270ab 100%);
  background: -moz-linear-gradient(top, #5f9dc9 0%, #2270ab 100%);
  background: -webkit-linear-gradient(top, #5f9dc9 0%, #2270ab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f9dc9', endColorstr='#2270ab', GradientType=0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.5);
  text-shadow: none;
}

.pcss3t-theme-4>ul {
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .pcss3t-theme-4>label {
    margin-right: 0;
  }
}

/**/
/* theme 5 */
/**/
.pcss3t-theme-5 {
  padding: 15px;
  border-radius: 5px;
  background: #ad6395;
  background: linear-gradient(to right, #ad6395 0%, #a163ad 100%);
  background: -o-linear-gradient(left, #ad6395 0%, #a163ad 100%);
  background: -ms-linear-gradient(left, #ad6395 0%, #a163ad 100%);
  background: -moz-linear-gradient(left, #ad6395 0%, #a163ad 100%);
  background: -webkit-linear-gradient(left, #ad6395 0%, #a163ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f9dc9', endColorstr='#a163ad', GradientType=1);
}

.pcss3t-theme-5>label {
  margin-right: 10px;
  margin-bottom: 15px;
  background: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  opacity: 1;
}

.pcss3t-theme-5>label:hover {
  background: rgba(255, 255, 255, 0.15);
}

.pcss3t-theme-5>input:checked+label {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}

.pcss3t-theme-5>input:checked+label:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 10px;
  margin-left: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.pcss3t-theme-5>ul {
  margin: 0 -15px -15px;
  border-radius: 0 0 5px 5px;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .pcss3t-theme-5>input:checked+label:after {
    display: none;
  }
}

/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss3t>ul,
.pcss3t>ul>li {
  min-height: 530px;
  height: auto;
}






/* Card */

@keyframes zoom {
  from {
    object-position: 0 50%;
  }

  to {
    object-position: 100% 50%;
  }
}

@keyframes blur {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(2, 2);
  }
}




.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "menu menu menu"
    ". card .";
  width: 100vw;
  min-height: 100vh;
}

.menu {
  grid-area: menu;
  align-self: end;
}

.menu__list {
  text-align: center;
}

.menu__item {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: var(--fontMedium);
  font-weight: var(--fontRegular);
  text-transform: uppercase;
  color: #a9a9a9;
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.menu__item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 6px;
  background: rgba(100, 100, 250, 1);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.menu__item:hover {
  color: rgba(150, 150, 255, 1);
}

.menu__item.active {
  color: rgba(100, 100, 250, 1);
}

.menu__item.active::after {
  width: 100%;
}

.card {
  margin: 15px;
  position: relative;
  grid-area: card;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  display: block;
  padding: 20px;
  width: 100%;
  max-width: 250px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: url(../../images/main-content/card-background.jpg);
  animation: 1s ease-in-out 5s forwards;
  background-position: center;
  background-size: cover;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover {
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
  background: none;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.card__save {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  opacity: 0;
  border-radius: 3px;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card__save:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
}

.card:hover .card__save {
  opacity: 0.6;
}

.card__save i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card__save:hover i {
  color: rgba(255, 255, 255, 0.8);
}

.card__save:active,
.card__save.active {
  opacity: 1 !important;
}

.card__save:active i,
.card__save.active i {
  color: white;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.card__image img {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__image img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  /* padding: 10px 20px; */
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card__header {
  display: grid;
  width: 100%;
  height: 200px;
}

.card__profile {
  align-self: center;
  justify-self: center;
  display: block;
  overflow: hidden;
  height: 350px;
  /* margin-top: 30px; */
  border-radius: var(--border-radius-md);
  width: 100vmax;
  max-width: 200px;
  max-height: 400px;
  transition: all 0.5s ease;
}

.card__profile img {
  -webkit-transform: scale(1.5, 1.5) translateZ(0);
  transform: scale(1.5, 1.5) translateZ(0);
  display: block;
  width: 100%;
  height: 350px !important;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
  filter: grayscale(50%) contrast(75%) brightness(1.3);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  mix-blend-mode: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card:hover .card__profile img {
  -webkit-transform: scale(1, 1) translateZ(0);
  transform: scale(1, 1) translateZ(0);
  height: 350px;
}

.card__body {
  display: grid;
  padding: 0 20px;
}

.card__name {
  align-self: center;
  justify-self: center;
  margin-bottom: 2px;
  color: white;
  font-size: var(--fontLarge);
  font-weight: var(--fontLight);
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  background: -webkit-linear-gradient(white, #a1a1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__name {
  background: -webkit-linear-gradient(white, #c1c1c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__job {
  align-self: center;
  justify-self: center;
  display: inline-block;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-align: center;
  letter-spacing: 0.35rem;
  color: rgba(100, 130, 200, 0.45);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__job {
  color: rgba(100, 130, 200, 1);
}

.card__bio {
  position: relative;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  display: block;
  margin: 22px 0 16px 0;
  font-size: var(--fontMedium);
  font-weight: var(--fontLight);
  /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
  color: rgba(255, 255, 255, 0.65);
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__bio {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card__footer {
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  /* padding: 10px 20px; */
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__footer {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card__date {
  grid-area: date;
  display: inline-block;
  align-self: left;
  justify-self: left;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-transform: uppercase;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
  color: rgba(250, 250, 250, 0.4);
}

/* MODIFIERS */
.card[data-effect="blur"]:hover .card__image img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.card[data-effect="blur"] .card__image img {
  animation-name: blur;
}

.card[data-effect="color"]:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
}

.card[data-effect="color"] .card__image {
  background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5));
}

.card[data-effect="color"]:hover .card__image img {
  opacity: 0.8;
}

.card[data-effect="color"]:hover .card__profile img {
  -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
  filter: grayscale(50%) contrast(80%) brightness(1.6);
  mix-blend-mode: normal;
}

@media (max-width: 500px) {
  .row-content {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media (max-width:1360px) {

  .pcss3t>ul>li {
    padding: 0;
    margin: 30px 40px 0 0;
  }
}

@media (max-width:1260px) {

  .pcss3t>.tab-content-first:checked~ul .tab-content-first,
  .pcss3t>.tab-content-2:checked~ul .tab-content-2,
  .pcss3t>.tab-content-3:checked~ul .tab-content-3,
  .pcss3t>.tab-content-4:checked~ul .tab-content-4,
  .pcss3t>.tab-content-5:checked~ul .tab-content-5,
  .pcss3t>.tab-content-6:checked~ul .tab-content-6,
  .pcss3t>.tab-content-7:checked~ul .tab-content-7,
  .pcss3t>.tab-content-8:checked~ul .tab-content-8,
  .pcss3t>.tab-content-9:checked~ul .tab-content-9,
  .pcss3t>.tab-content-last:checked~ul .tab-content-last {
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    -webkit-transform: scale(1, 1);
    -webkit-transform: rotate(0deg);
  }

  .page {
    margin: 0;
    padding: 10px;
  }

  .tab-content::-webkit-scrollbar {
    display: none;
  }

}

.button-container {
  z-index: 9999;
  position: relative;
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-container button {
  z-index: 99999;
  width: 101%;
  height: 100%;
  font-family: "Monument Extended", sans-serif;
  font-size: 40px;
  background: #fff;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000;
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
}

.button-container button:hover {
  animation: anim1 0.7s steps(22) forwards;
}

.mask {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-family: "Monument Extended", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin-top: 25px;
  overflow: hidden;
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

.btn-buy-now {
  background: var(--eerie-black);
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--weight-700);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: var(--border-radius-sm);
  margin: auto;
  transition: var(--transition-timing);
}

.btn-buy-now:hover {
  font-weight: var(--weight-700);
  color: var(--eerie-black);
  background: var(--salmon-pink);
}