@import "../variables.css";

/* Overall container */
.center-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "left right";
  margin: 2% 10% 2% 10%;
  background-color: var(--onyx);
  border-radius: 15px;
  padding: 45px 0 45px 0;
}

.left-column {
  position: relative;
  grid-area: left;
}

.right-column {
  position: relative;
  grid-area: right;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "right";
  }
}

@media (max-width: 768px) {
  .container {
    margin: 2% 5% 2% 5%;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 2% 2% 2% 2%;
    padding: 30px 0 30px 0;
  }
}

/* Breadcrumb */

#breadcrumb {
  list-style: none;
  display: inline-block;
}

#breadcrumb .fa {
  font-size: 14px;
}

#breadcrumb li {
  float: left;
}

#breadcrumb li a {
  font-weight: var(--weight-600);
  color: var(--cultured);
  display: block;
  background: var(--dark-chocolate-cherries);
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  margin-top: 10px;
  transition: 150ms ease-in-out;
}

#breadcrumb li:nth-child(even) a {
  background-color: var(--dark-chocolate-cherries);
  transition: 150ms ease-in-out;
}

#breadcrumb li:nth-child(even) a:before {
  border-color: var(--dark-chocolate-cherries);
  border-left-color: transparent;
  transition: 150ms ease-in-out;
}

#breadcrumb li:nth-child(even) a:after {
  border-left-color: var(--dark-chocolate-cherries);
  transition: 150ms ease-in-out;
}

#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child a:before {
  border: none;
}

#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child a:after {
  border: none;
}

#breadcrumb li a:before,
#breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid var(--dark-chocolate-cherries);
  border-width: 20px 10px;
  width: 0;
  height: 0;
  transition: 150ms ease-in-out;
}

#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
  transition: 150ms ease-in-out;
}

#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: var(--dark-chocolate-cherries);
}

#breadcrumb li a:hover {
  transition: 150ms ease-in-out;
  color: var(--eerie-black);
  font-weight: var(--weight-600);
  background-color: var(--salmon-pink);
}

#breadcrumb li a:hover:before {
  transition: 150ms ease-in-out;
  border-color: var(--salmon-pink);
  border-left-color: transparent;
}

#breadcrumb li a:hover:after {
  transition: 150ms ease-in-out;
  border-left-color: var(--salmon-pink);
}

#breadcrumb li a:active {
  transition: 150ms ease-in-out;
  background-color: var(--salmon-pink);
}

#breadcrumb li a:active:before {
  transition: 150ms ease-in-out;
  border-color: var(--salmon-pink);
  border-left-color: transparent;
}

#breadcrumb li a:active:after {
  transition: 150ms ease-in-out;
  border-left-color: var(--salmon-pink);
}


/* Heart button and animation */

/* Placement section */

.placement {
  position: absolute;
  top: 0;
  right: 45px;
  transform: translate(50%, -50%);
}

/* Heart button */
.heart {
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: red;
  /* Replace with your desired heart icon */
}

.heart {
  width: 100px;
  height: 100px;
  float: right;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}

/* Product details */
.product {
  flex: 1;
  padding: 20px;
}

/* Product title */
.product-title h2 {
  font-size: 24px;
  margin: 0;
}

/* Product rating */
.product-rating {
  margin-top: 10px;
}

.product-rating span {
  margin-right: 5px;
}

.review {
  color: #888;
}

/* Product price */
.product-price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.offer-price {
  color: #f00;
}

/* Product details section */
.product-details {
  margin-top: 20px;
}

.product-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-details p {
  margin: 0;
}

/* Product size */
.product-size {
  margin-top: 20px;
}

.product-size h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.size-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.size-input {
  display: none;
}

.size {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--eerie-black);
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--weight-700);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: var(--border-radius-sm);
  margin: 5px;
  transition: var(--transition-timing);
}

.size-input:hover+.size {
  font-weight: var(--weight-700);
  color: var(--eerie-black);
  background: var(--cultured);
  box-shadow: 0 0 5px 2.5px var(--cultured), 0 0 10px 5px
}


.size-input:checked+.size {
  font-weight: var(--weight-700);
  color: var(--eerie-black);
  background: var(--salmon-pink);
  box-shadow: 0 0 5px 2.5px var(--salmon-pink), 0 0 10px 5px
}

/* Divider */
.divider {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

/* Product button group */
.product-btn-group {

  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--eerie-black);
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--weight-700);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: var(--border-radius-sm);
  margin: auto;
  transition: var(--transition-timing);
}

.button:hover {
  font-weight: var(--weight-700);
  color: var(--eerie-black);
  background: var(--salmon-pink);
}

.button i,
.button ion-icon {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .center-container {
    grid-template-columns: 1fr;
    /* Display a single column on smaller screens */
  }
}



.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--eerie-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--deep-autumn-orange);
  animation: loader 2s infinite ease;
}














.slides {
  padding: 0;
  max-height: 420px;
  max-width: 609px;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container {display: block;}

.slide {
  top: 0;
  opacity: 0;
  max-width: 610px;
  max-height: 420px;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  /* width: 200px; */
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  /* background-color: rgba(255, 255, 255, .3); */
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
width: 100%;
bottom: 9px;
height: 11px;
display: block;
position: absolute;
text-align: center;
}

.nav-dots .nav-dot {
top: -5px;
width: 11px;
height: 11px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: var(--cultured)
}

.nav-dots .nav-dot:hover {
cursor: pointer;
background-color: var(--dirty-white);
border: 1.5px solid var(--eerie-black);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
background: var(--davys-gray);
border: 1.5px solid var(--white);
}