@import "overlay-and-modal-style-dark.css";
@import "header-and-side-menu-style-dark.css";
@import "slideshow-style-dark.css";
@import "card-style-dark.css";
@import "footer-style-dark.css";

:root {
  /*------------------------------------------*/
  /*------------------COLORS------------------*/
  /*------------------------------------------*/

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --scarlet-red: hsl(8, 100%, 50%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --onyx-darker: hsl(0, 0%, 25%);
  --dirty-white: hsla(196, 6%, 53%, 0.6);
  --dirty-onyx: hsla(0, 0%, 27%, 0.6);


  /*----------------------------------------------*/
  /*------------------TYPOGRAPHY------------------*/
  /*----------------------------------------------*/

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*-------------------------------------------------*/
  /*------------------BORDER RADIUS------------------*/
  /*-------------------------------------------------*/

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /*----------------------------------------------*/
  /*------------------TRANSITION------------------*/
  /*----------------------------------------------*/

  --transition-timing: 0.2s ease;
}



/*-----------------------------------------*/
/*------------------RESET------------------*/
/*-----------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

li {
  list-style: none;
  outline: none;
}


button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: inline-block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  html {
    min-width: 280px;
  }
}

@media only screen and (max-width: 280px) {
  html {
    min-width: 280px;
  }
}

input {
  display: block;
  width: 100%;
  font: inherit;
}


font::placeholder {
  font: inherit;
}

body {
  padding-top: 55px;
  overflow: visible !important;
}

.light-background{
  display: none;
}

.dark-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  background-repeat: repeat;
}

/*----------------------------------------------------*/
/*------------------DARK MODE BUTTON------------------*/
/*----------------------------------------------------*/

.dark-mode-btn {
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  background-image: url(../../images/main-content/day-mode.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: url(../../images/main-content/buttoncheckbox.png);
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

input[type="checkbox"]:checked:before {
  transform: translate(100%);
}

input[type="checkbox"]:checked {
  background-image: url(../../images/main-content/dark-mode.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------------------------------------*/
/*------------------SCROLLBAR STYLE------------------*/
/*---------------------------------------------------*/


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--onyx);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--onyx);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--davys-gray);
  border: 2px solid var(--eerie-black);
}

/*-------------------------------------------------*/
/*------------------REUSED STYLES------------------*/
/*-------------------------------------------------*/

.container {
  padding: 0 15px;
}

.has-scrollbar {
  padding: 5px;
}

.container-login {
  position: relative;
  width: 100%;
  /* background-color: #fff; */
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  max-width: 450px;
  width:100%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 4;
}

.btn-signup{
  width: 150px;
  background-color:var(--bittersweet);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.signin-signup form {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--onyx);
  border-radius: 30px;
  color: var(--white);
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  margin: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  opacity: 0.75;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: var(--cultured);
  border-radius: 50%;
  border: 1px solid var(--cultured);
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
}

.social-icon:hover {
  color: var(--white);
  border-color: var(--white);
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  justify-self: center;
  padding: 50px;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-login:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, rgba(153,153,153,0.3) , rgba(153,153,153,0.7));
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 4;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  z-index: 4;
}

.left-panel {
  pointer-events: all;
}

.right-panel {
  pointer-events: none;
  /* padding: 3rem 12% 2rem 17%; */
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
  padding: 3rem 17% 2rem 12%;
  z-index: 4;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  z-index: 4;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
  z-index: 4;
}

/* ANIMATION */

.container-login.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container-login.sign-up-mode .left-panel .image,
.container-login.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container-login.sign-up-mode .signin-signup {
  left: 25%;
}

.container-login.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
  padding-bottom: 20px;
}

.container-login.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container-login.sign-up-mode .right-panel .image,
.container-login.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container-login.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-login.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container-login {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}